@model santisart_app.Models.viewPaid

@{
    ViewData["Title"] = "View1";
}

<h2>View1</h2>

<h4>viewPaid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student_id" class="control-label"></label>
                <input asp-for="Student_id" class="form-control" />
                <span asp-validation-for="Student_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_title" class="control-label"></label>
                <input asp-for="Student_title" class="form-control" />
                <span asp-validation-for="Student_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_name" class="control-label"></label>
                <input asp-for="Student_name" class="form-control" />
                <span asp-validation-for="Student_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_lname" class="control-label"></label>
                <input asp-for="Student_lname" class="form-control" />
                <span asp-validation-for="Student_lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month_name" class="control-label"></label>
                <input asp-for="Month_name" class="form-control" />
                <span asp-validation-for="Month_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month_year" class="control-label"></label>
                <input asp-for="Month_year" class="form-control" />
                <span asp-validation-for="Month_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month_course" class="control-label"></label>
                <input asp-for="Month_course" class="form-control" />
                <span asp-validation-for="Month_course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class_id" class="control-label"></label>
                <input asp-for="Class_id" class="form-control" />
                <span asp-validation-for="Class_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class_name_id" class="control-label"></label>
                <input asp-for="Class_name_id" class="form-control" />
                <span asp-validation-for="Class_name_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher_id" class="control-label"></label>
                <input asp-for="Teacher_id" class="form-control" />
                <span asp-validation-for="Teacher_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class_room" class="control-label"></label>
                <input asp-for="Class_room" class="form-control" />
                <span asp-validation-for="Class_room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class_year_index" class="control-label"></label>
                <input asp-for="Class_year_index" class="form-control" />
                <span asp-validation-for="Class_year_index" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paid_id" class="control-label"></label>
                <input asp-for="Paid_id" class="form-control" />
                <span asp-validation-for="Paid_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidSum" class="control-label"></label>
                <input asp-for="PaidSum" class="form-control" />
                <span asp-validation-for="PaidSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monthly_id" class="control-label"></label>
                <input asp-for="Monthly_id" class="form-control" />
                <span asp-validation-for="Monthly_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff_paid_id" class="control-label"></label>
                <input asp-for="Staff_paid_id" class="form-control" />
                <span asp-validation-for="Staff_paid_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalPaid" class="control-label"></label>
                <input asp-for="totalPaid" class="form-control" />
                <span asp-validation-for="totalPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

